@use 'variables';

.header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: variables.$colorBg;
    z-index: 1;
    

    &__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 8px 36px;
        max-width: 1024px;
        margin: 0 auto;

        @media (max-width: 768px) {
            justify-content: center;
        }

        @media (min-width: 769px) and (max-width: 992px) {
            justify-content: center;
        }
    }

    &__logo {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 768px) {
            padding-top: 14px;
        }
        
        &__img {
            width: 40px;
            margin-right: 22px;
        }
    }

    &__links {
        display: flex;
        align-items: center;
    }
}

.button__links {
    display: inline-block;
    margin: 8px;
    color: variables.$colorTitle;
    text-decoration: none;
    font-weight: bold;
    padding: 8px;

    @media (max-width: 768px) {
        text-align: center;
    }
}